.button{
   padding: 12px 16px;
   background: #fff;
   border-radius: 12px;
   font-size: 16px;
   border: 1px solid transparent;
   cursor: pointer; 
   font-weight: 500;
   transition: .2s ease-in-out;

}
.button:hover{
   opacity: .8;
   transition: .2s ease-in-out;
}
.button:focus{
   opacity: .6;
   transition: .2s ease-in-out;
}
.black{
   color: #fff;
   background: #000;
}
.white{
   color: #000;
   background: #fff;
}
.white-lined{
   color: #fff;
   background: transparent;
   border: 1px solid #fff;

}
.black-lined{
   color: #000;
   background: transparent;
   border: 1px solid #000;
}

.big{
   padding: 24px 32px;
}
.normal{
   padding: 14px 24px;

}
.small{
   padding: 12px 16px;

}