
.heading {
  padding: 100px;
   display: flex;
   flex-direction: column;
     align-items: center;
   min-height: 80vh;
   background: #141718;


   &_text{
      margin-top: 100px;
      text-align: center;
      max-width: 750px;
    }
    &_h2{
      font-weight: 400;
      margin-bottom: 30px;
         
    }
    &_h1{
      margin-bottom: 30px;
      line-height: 85%;
      font-weight: 800;
         font-size: 74px;
    }
    &_buttons{
      display: flex;
      justify-content: center;
      gap: 10px;
    }
    &_sponsors{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      opacity: .6;
      margin-top: 100px;
    }
 }

.about{
  padding: 50px 0;
  background-color: #fff;
  color: #000;
  &_div{
    width: 100%;
  }
  &_card{

    div{
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
  &_linediv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }
  &_line{
    width: 1px;
    height: 100%;
    background-color: #F4F5F6;
  }
  &_image{
    margin-top: 50px;
    width: 100%;
    border: 2px solid #F4F5F6;
    border-radius: 20px;
    padding: 40px 40px 0 40px;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 50px;
    flex-direction: column;
  }
  &_cards{
    width: 100%;

    display: grid;
    gap: 10px;
    grid-template-columns: repeat( auto-fit, minmax(240px, 1fr) );
  }
  &_text{
  max-width: 350px;

    h2{
      font-weight: 800;
      font-size: 42px;
      line-height: 42px;
      color: #1D1F20;
      margin-bottom: 15px;

    }
    p{
      font-size: 16px;
      line-height: 22px;
     color: #31373D;

    }
  }
}

.steps{
  padding: 50px 0;
  background-color: #fff;
  color: #000;
  position: relative;
  z-index: 20;
  
  height: 100vh;
  &_div{
    position: relative;
    z-index: 20;
    
    display: grid;
    gap: 200px;
    div:nth-child(2n){
        margin-left: auto;
      }
  }
   
  &_item{
    max-width: 180px;
    display: flex;
    justify-content: center;
    border-radius: 4px;
    align-items: center;
    gap: 5px;
    padding: 15px;
    background: #fff;
    border: 1px solid #000;
    transition: .2s ease-in-out;

    &:hover{
      background: #ececec;
      transition: .2s ease-in-out;
    }
  }
  &_bacround{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
}

.more{
  padding: 50px 0;

  background: #141718;
  color: #fff;

  h2{
    font-size: 52px;
    font-weight: 700;
    line-height: 58px;
  }
  h3{
    font-size: 20px;
    line-height: 33px;
    font-weight: 400;
    color: #EDEEF0;
    max-width: 400px;
  }
  &_block{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );
    gap: 20px;
  }
  &_card{
    img{
      margin: 0 auto;
    }
    display: grid;
    align-content: center;
    padding: 20px;
    border-radius: 24px;
    outline-offset: -7px;
    border: 2px solid #232529 ;
    outline: 1px solid #4B4F58;
  }
}