.startups{
   min-height: 100vh;
   margin-top: 100px;
   display: flex;
   flex-direction: column;

   &_card{
      max-width: 500px;
      width: 100%;
      display: flex;
      align-items: center;
      padding: 20px;
      border-radius: 24px;
      outline-offset: -7px;
      border: 2px solid #232529;
      outline: 1px solid #4B4F58;
      gap: 10px;

      img{
         border-radius: 50%;
      }
   }
   &_content{
      display: flex;
      align-items: center;
      gap: 5px;

      h2{
         font-weight: 600;
         font-size: 24px;
      }
      p{
         color: #4B4F58;
         font-size: 16px;
         font-weight: 400;
      }
   }

   &_button{
      margin-left: auto;
      button{
         padding: 10px;
         background: #fff;
         border-radius: 4px;
         color: #000;
         font-weight: 500;
      }
   }
}